@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+Telugu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif Telugu", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(assets/shaq\ smash.jpeg) no-repeat center center/ cover;
}

.header {
  color: #ffee00e7;
  font-size: 45px;
  position: relative;
  top: -15px;
}

.btnAgain {
  background-color: rgba(255, 238, 0, 0.7);
  border-radius: 1rem;
  color: black;index
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.btnRock, .btnPaper, .btnScissors {
  max-width: 10%;
  height: auto;
}

.scores-container {
  display: flex;
  justify-content: center;
  align-itmes: center;
  margin: 1rem 1rem;
  gap: 4rem;
}

.playerScore,
.shaqScore {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 10px rgba(128, 0, 128, 0.7);
}

.shaqScore {
  text-shadow: 0 0 10px rgba(128, 0, 128, 0.7);
}

.playerScore {
  text-shadow: 0 0 10px rgba(255, 223, 0, 0.7);
}

.result-text {
  color: white;
  font-size: 2rem
}

@media (max-width: 767px) {
  .header {
    font-size: 30px;
  }

  .btnRock,
  .btnPaper,
  .btnScissors {
    max-width: 15%;
  }

  .playerScore,
  .shaqScore {
    font-size: 3rem;
  }

  .btnAgain {
    margin-top: 40px;
  }
}
